.new {
  width: 100%;
  display: flex;

  .newContainer {
    flex: 6;

    .top,
    .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 2px 10px 1px rgba(201, 201, 201, 0.3);
      padding: 10px;
      margin: 20px;
      display: flex;
      border-radius: 0.5rem;

      h1 {
        color: lightgray;
        font-size: 2rem;
        padding: 0.5rem;
        margin: auto;
      }

      .left {
        flex: 1;
        text-align: center;

        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .right {
        flex: 2;
        padding: 2rem 1rem 2rem 1rem;

        form {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          justify-content: space-around;
          height: 100%;

          .formContent {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: space-around;
          }

          .formInput {
            width: 40%;

            label {
              display: flex;
              align-items: center;
              gap: 10px;

              .icon {
                cursor: pointer;
              }
            }

            input,
            textarea,
            select {
              width: 100%;
              padding: 5px;
              border: none;
              border-bottom: 1px solid gray;
              background-color: transparent;
              color: gray;
            }

            select {
              text-transform: capitalize;
            }
          }

          button[type="submit"] {
            width: 150px;
            padding: 10px;
            border: none;
            background-color: teal;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-top: 10px;
            border-radius: 0.5rem;
            transition: transform 0.2s ease-in-out;

            &:hover {
              transform: scale(0.9);
            }

            &:disabled {
              background-color: rgba(3, 92, 92, 0.322);
              cursor: not-allowed;
            }
          }
        }
      }
    }
  }
}
